/*-----------------------------------------------------------------------------------

	Theme Name: Wedlock
	Author: Two2Twelve Themes
	Author URI: http://t2themes.com
	Version: 1.0
	
	Stylesheet: Base

	0.	CSS Reset 
	1.	Global (body, page sructure, common classes)
	2.  Intro
	3.  Story
	4.  Gallery
	5.  Wedding Party
	6.  Venue
	7.  Travel
	8.  Registry
	9.  RSVP
	10. Contact
	11. Footer
	12. Forms
	13. Typography
	14. Fonts
	15. Styles
	16. Theme Colors
	
-----------------------------------------------------------------------------------*/
* { margin: 0; padding: 0; }
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*--------------------------------------------
1.	Global
---------------------------------------------*/
body {
	font-size: 13px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background: #ffffff;
}
.container {
	width: 990px;
	margin: 0 auto;
}
header {
	background: #f3f3f3;
	padding: 17px 0px;
	border-bottom: 1px solid #d5d6d6;
	-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 6px rgba(0,0,0,0.13);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
	header nav ul {
		list-style: none;
		text-align: center;
	}
		header nav ul li {
			display: inline-block;
			margin-right: 35px;
		}
			header nav ul li a {
				font-size: 14px;
				font-family: 'Fjalla One';
				font-weight: 300;
				font-size: 16px;
				color: #a9a9a9;
				text-decoration: none;
				-webkit-transition:color 0.2s ease-in;  
			    -moz-transition:color 0.2s ease-in;  
			    -o-transition:color 0.2s ease-in;  
			    transition:color 0.2s ease-in;
			}
				header nav ul li a:hover {
					color: #555;
				}
			header nav ul li.current a {
				color: #3c3c3c;
			}
	section#pages .heading {
		background: url('../images/shadow.png') no-repeat bottom left;
		text-align: center;
		height: 75px;
		position: relative;
		margin-bottom: 15px;
	}
		section#pages .heading h2 {
			padding-top: 40px;
		}
		section#pages .heading .section_icon {
			height: 38px;
			width: 38px;
			display: block;
			position: absolute;
			top: 54px;
			left: 477px;
			background: #6b4e86;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}			
		section#pages .heading .section_icon .icon {
			color: #fff;
			font-size: 22px;
			line-height: 37px;
		}
		section#pages .heading span.pictures      { background-position: 0px -38px; }
		section#pages .heading span.party         { background-position: 0px -76px; }
		section#pages .heading span.venue         { background-position: 0px -114px; }
		section#pages .heading span.travel        { background-position: 0px -152px; }
		section#pages .heading span.registry      { background-position: 0px -190px; }
		section#pages .heading span.rsvp          { background-position: 0px -228px; }
		section#pages .page {
			margin-bottom: 70px;
		}
		section#pages .page.last { margin-bottom: 40px; }
span.double_line {
	border: solid 1px #e4e4e4;
	-moz-box-shadow: 0px 0px 0px #e4e4e4;
	-webkit-box-shadow:  0px 0px 0px #e4e4e4;
  box-shadow:  0px 0px 0px #e4e4e4;
	padding-bottom: 2px;
	display: block;
}
/*--------------------------------------------
2.	Intro
---------------------------------------------*/
section#intro {
	text-align: center;
	padding-top: 110px;
	margin-bottom: 70px;
}
section.shadow div#logo_wrap {
	background: url('../images/shadow.png') no-repeat bottom left; 
}
	section#intro img:first-child { margin-bottom: 20px; }
	section#intro p {
		margin: 17px 0px;
		color: #868686;
		font-family: 'Sanchez';
		font-weight: 300;
		font-size: 18px;
	}
	section#intro .date {
		font-family: 'Lato';
		font-size: 40px;
		font-weight: 300;
		color: #3d3d3d;
		margin: 17px 0px 35px 0px;
		padding-bottom: 17px;
		position: relative;
		border-bottom: 2px dotted #e4e4e4;
	}
		section#intro .date em {
			font-style: normal;
			padding: 17px 0px;
		}
		section#intro .date em:first-child {
			border-right: 1px solid #e4e4e4;
			padding-right: 54px;
			padding-left: 85px;
		}
		section#intro .date em:last-child {
			padding-left: 45px;
		}
		section#intro .date span {
			color: #fff;
			background: #6b4e86;
			font-family: 'Sail';
			position: absolute;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			font-size: 22px;
			width: 45px;
			height: 45px;
			line-height: 43px;
			display: block;
			top: 0px;
			left: 491px;
			text-shadow: #333 0px 2px 2px;
		}
/* Logo Text Version */
div#logo_wrap {
	position: relative;
	text-align: center;
	width: 98%;
	margin: 0 auto;
	display: inline-block;
	
}
div#logo_wrap h1 {
	margin-top: 0;
	margin-bottom: 35px;
	color: #2d2d2d;
}
	div#logo_wrap h1 a {
		color: #424242;
	}
div#logo_wrap h1 span:nth-child(1) {
	margin-right: 90px;
	display: inline-block;
}
div#logo_wrap h1 span:nth-child(2) {
	position: absolute;
	font-size: 22px;
	top: 86px;
	left: 214px;
	margin-right: 10px;
	font-family: Sanchez;
	color: #c3c3c3;
}
div#logo_wrap h1 span:nth-child(5) {
	position: absolute;
	font-size: 22px;
	top: 86px;
	left: 683px;
	font-family: Sanchez;
	color: #c3c3c3;
}
div#logo_wrap .circle_1 {
	width: 72px;
	height: 72px;
	border-radius: 100%;
	background: #6b4e86;
	position: absolute;
	top: 18px;
	left: 447px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}
div#logo_wrap .circle_2 {
	width: 60px;
	height: 60px;
	border: 1px solid #8c75a1;
	border-radius: 100%;
	position: absolute;
	top: 5px;
	left: 5px;
	overflow: hidden;
	font-family: Sail;
	font-size: 59px;
	color: #fff;
	line-height: 57px;
}
/* Logo Image Version */
section#intro img.logo {
	display: none;
}		
/*--------------------------------------------
3.	Story
---------------------------------------------*/
div#the_story .content {
	margin-top: 20px;
}
div#the_story .heading .section_icon .icon { 
	line-height: 38px;
}
div#the_story .bride,
div#the_story .groom {
	padding: 10px 0px;
	padding-bottom: 25px;
}
div#the_story .bride {
	width: 497px;
}
div#the_story .groom {
	width: 470px;
}
div#the_story .bride {
	text-align: right;
	float: left;
	border-right: 2px dotted #e4e4e4;
	padding-right: 25px;
}
div#the_story .groom {
	float: right;
	text-align: left;
}
div#the_story h1 { margin-bottom: 5px; }
div#the_story h2 {
	margin: 0;
}
div#the_story span.subtitle {
	color: #99c374;
	font-family: 'Fjalla One';
	font-size: 18px;
}
div#the_story .story {
	clear: both;
	padding: 25px 0px;
	border-top: 2px dotted #e4e4e4;
	border-bottom: 2px dotted #e4e4e4;
}
/*--------------------------------------------
4.	Gallery
---------------------------------------------*/
.elastislide-wrapper {
	box-shadow: none;
	background-color: none;
}
div#gallery .content {
	margin-top: 36px;
}
#gallery_slider {
    width: 100%;			
}
	#gallery_slider ul li {
		margin-right: 15px;
	}
/*--------------------------------------------
5.	Wedding Party
---------------------------------------------*/
div#party {
	overflow: hidden;
	border-bottom: 2px dotted #e4e4e4;
}
	div#party .content {
		margin-top: 18px;
	}
	div#party .bridesmaids,
	div#party .groomsmen {	
		padding: 10px 0px;
		padding-bottom: 25px;
	}
	div#party .bridesmaids {
		text-align: right;
		float: left;
		width: 497px;
		border-right: 2px dotted #e4e4e4;
		padding-right: 20px;
	}
	div#party .groomsmen {
		float: right;
		width: 475px;
		padding-left: 0px;
	}
		div#party .bridesmaids h4 { text-align: right; }
		div#party .groomsmen h4 { text-align: left; }
		div#party ul.people {
			list-style: none;
			margin-bottom: 25px;
			padding-left: 4px;
		}
		div#party .groomsmen ul.people{
			text-align: left;
		}
		div#party .bridesmaids ul.people{
			text-align: right;
		}
			div#party ul.people li {
				margin-right: 11px;
				display: inline-block;
				text-align: center;
				vertical-align: top;
				width: 67px;
			}
			div#party ul.people li span {
				font-size: 14px;
				color: #969696;
				font-family: 'Fjalla One';
				display: block;
				-webkit-transition:color 0.2s ease-in;  
			    -moz-transition:color 0.2s ease-in;  
			    -o-transition:color 0.2s ease-in;  
			    transition:color 0.2s ease-in;
				margin: 0 auto;
				margin-top: 10px;
			}
				div#party ul.people li a {
					border: 4px solid #d6d6d6;
					display: block;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					height: 67px;
					width: 67px;
					-webkit-transition:border-color 0.2s ease-in;  
				    -moz-transition:border-color 0.2s ease-in;  
				    -o-transition:border-color 0.2s ease-in;  
				    transition:border-color 0.2s ease-in;
				}
				div#party ul.people li img {
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
				}
				div#party ul.people li:hover a,
				div#party ul.people li.current a,
				div#party ul.people li:hover span,
				div#party ul.people li.current span {
					border-color: #6b4e86;
					color: #6b4e86;
				}
			div#party ul.people li:last-child { margin-right: 0; }
/*--------------------------------------------
6.	Venue
---------------------------------------------*/
div#venue .content {
	overflow: hidden;
	margin-top: 50px;
}
	div#venue .content .venue_left {
		float: left;
		overflow: hidden;
	}
	div#venue .elastislide-horizontal {
		width: 635px;
		float: left;
	}
	div#venue .elastislide-horizontal {
		padding: 0px 50px !important;
	}
	div#venue #venue_slider {
		min-height: 280px !important;
	}
	div#venue #venue_slider .elastislide-horizontal ul li {
		max-height: 280px !important;
	}
	div#venue .elastislide-horizontal nav span {
		margin-top: -55px;
	}
	#venue_slider {
	  width: 635px;			
		float: left;
	}
		#venue_slider ul li {
			margin-right: 15px;
		}
	div#venue .content .caption {
		color: #2e2e2e;	
		font-family: 'Fjalla One';
		font-size: 20px; 
		font-weight: normal;
		display: block;
		padding-top: 5px;
	}
	div#venue .venue_details {
		float: right;
		width: 355px;
	}
		div#venue .venue_details ul {
			list-style: none;
		}
			div#venue .venue_details ul li {
				overflow: hidden;
				margin-bottom: 15px;
			}
				div#venue .venue_details ul li b {
					font-size: 20px;
					color: #2d2d2d;
					font-weight: normal;
					display: block;
					width: 100px;
					text-align: right;
					float: left;
					font-family: 'Fjalla One';
				}
				div#venue .venue_details ul li .info {
					margin-left: 130px;			
					color: #767676;
					font-family: 'lato';
					font-size: 16px;
					font-weight: normal;
					line-height: 24px;
					margin-top: 2px;
				}
				div#venue .venue_details ul li .info p {
					font-size: 14px;
					color: #a4a4a4;
					margin-top: 5px;
				}
/*--------------------------------------------
7.	Travel
---------------------------------------------*/
div#travel {
	border-bottom: 2px dotted #e4e4e4;
}
	div#travel .content {
		margin-top: 18px;
	}
		div#travel .content h4 {
			text-align: center;
		}
	div#travel .hotels {
		width: 497px;
	}
	div#travel .airports {
		width: 470px;
	}
		div#travel .airports .elastislide-horizontal {
			padding: 0px 50px !important;
		}
		div#travel #airport_slider {
			min-height: 330px !important;
		}
		div#travel #airport_slider .elastislide-horizontal ul li {
			max-height: 330px !important;
		}
		div#travel .elastislide-horizontal nav span {
			margin-top: -75px;
		}
	div#travel .hotels,
	div#travel .airports {
	
		padding: 10px 0px;
		padding-bottom: 15px;
	}
	div#travel .hotels {
		float: left;
		border-right: 2px dotted #e4e4e4;
		padding-right: 25px;
		overflow: hidden;
	}
		div#travel .hotels img { margin-bottom: 15px; }
		div#travel .hotels address{
			font-family: 'Lato';
			font-size: 15px;
			color: #737373;
			float: left;
			width: 240px;
			font-style: normal;
			line-height: 22px;
		}
			div#travel .hotels address b{
				color: #2e2e2e;
				display: block;
			}
			div#travel .hotels address a {
				color: #6b4e86;
				display: block;
				margin-top: 10px;
			}
				div#travel .hotels address a:hover { text-decoration: none; color: #333; }
				div#travel .hotels .discount {
					font-family: 'Lato';
					font-size: 15px;
					float: right;
					width: 200px;
				}
					div#travel .hotels .discount b {
						color: #2e2e2e;
						display: block;
						margin-bottom: 15px;
					}
					div#travel .hotels .discount span {
						background: #f1f1f1;
						text-align: center;
						padding: 5px 25px;
						color: #99c374;
						font-family: 'museo500';
						border: 2px solid #eaeaea;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
					}
					div#travel .hotels .discount em {
						font-style: normal;
						color: #999;
						display: block;
						margin-top: 15px;
						font-size: 14px;
					}		
		div#travel .airports {
			float: right;
		}	
		#airport_slider {
	    width: 370px;			
			margin: 0 auto;
		}
			#airport_slider ul li {
				margin-right: 15px;
			}	
				div#travel .airports ul#airport_slider address {
					font-family: 'Lato';
					font-size: 15px;
					color: #737373;
					font-style: normal;
					line-height: 22px;
					margin-top: 15px;
				}
					div#travel .airports ul#airport_slider address b {
						color: #2e2e2e;
						display: block;
					}
					div#travel .airports ul#airport_slider address a {
						color: #6b4e86;
						text-decoration: none;
						display: block;
						margin-top: 15px;
					}
						div#travel .airports ul#airport_slider address a:hover { text-decoration: none; color: #333; }
/*--------------------------------------------
8.	Registry
---------------------------------------------*/
div#registry p {
	text-align: center;
	padding-top: 30px;
	width: 800px;
	margin: 0 auto 20px;
}
#registry_slider {
	width: 100%;			
		height: 105px;
}
	#registry_slider ul li {
		margin-right: 15px;
		border: 1px solid #e3e3e3;
	}	
	#registry_slider a {
		border: none;
	}
/*--------------------------------------------
9.	RSVP
---------------------------------------------*/
div#rsvp {}
div#rsvp .content { padding-top: 20px; text-align: center; }
	div#rsvp article {
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: 25px;
		margin-bottom: 25px;
		overflow: hidden;
	}
	div#rsvp article .question {
		width: 430px;
		font-size: 26px;
		line-height: 37px;
		font-family: 'libel_suitregular';
		float: left;
	}
	div#rsvp article .answers {
		float: right;
		width: 430px;
	}
		div#rsvp article .answers ul {
			list-style: none;
			padding-top: 10px;
		}
			div#rsvp article .answers ul li {
				float: left;
				width: 215px;
				overflow: hidden;
				height: 30px;
				font-size: 14px;
				color: #3a3a3a;
				font-family: 'Lato';
				margin-bottom: 10px;
			}
				div#rsvp article .answers ul li input {
					float: left;
					margin-right: 15px;
					margin-top: 3px;
					margin-left: 5px;
				}
	div#rsvp .button {
		text-align: center;
	}
	#saveForm {
		border: none;
		padding: 8px 16px;
		background: #6b4e86;
		color: #fff;
		font-family: 'museo500';
		font-size: 16px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition:background 0.2s ease-in;  
    -moz-transition:background 0.2s ease-in;  
    -o-transition:background 0.2s ease-in;  
    transition:background 0.2s ease-in;
		cursor: pointer;
	}
	#saveForm:hover {
		background: #99c374;
	}

/*--------------------------------------------
10.	Contact
---------------------------------------------*/
div#contact .content { padding-top: 20px; text-align: center; }
/*--------------------------------------------
11.	Footer
---------------------------------------------*/
footer {
	overflow:hidden;
	clear: both;
	background: #f7f7f7;
	background: rgba(0,0,0,0.05);
	padding: 15px 20px 15px 20px;
	text-align: center;
	cursor: default;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	footer.container {
		margin-bottom: 35px !important;
	}
	footer p {
		float: left;
		color: #aaa;
		font-size: 12px;
		display: inline;
		margin-top: 6px;
		-webkit-transition:color 0.2s ease-in, background 0.2s ease-in;  
		-moz-transition:color 0.2s ease-in, background 0.2s ease-in;  
		-o-transition:color 0.2s ease-in, background 0.2s ease-in;  
		transition:color 0.2s ease-in, background 0.2s ease-in;
	}
	footer p:hover {
		color: #888;
	}
footer ul.social_icons {
		float: right;
		font-size: 45px;
		font-size: 24px;
	}
	footer ul.social_icons li {
		display: inline;
		margin-left: 5px;
	}
		footer ul.social_icons li a {
			color: #c7c7c7;
		}
			footer ul.social_icons li a:hover {
				color: #999;
			}	
/*--------------------------------------------
12. Forms
---------------------------------------------*/
div.form input,
div.form textarea { background: #f9f9f9; }
div.form input:focus,
div.form textarea:focus { background: #fff; }
div.form p { margin-bottom: 10px; }
	div.form div.row {
		overflow: hidden;
		clear: both;
		margin-bottom: 15px;
	}
		div.form div.row input,
		div.form div.row select { width: 480px; }
		div.form div.row p {
			width: 480px;
			float: left;
			margin-right: 30px;
		}
		div.form textarea { 
			width: 100%; 
			height: 200px;
		} 
	div#styles .full a.button {
		float: left;
		margin-right: 12px;
	}
	div#styles .tooltips p a {
		float: none;
		margin-right: 0;
	}
	div.form .error {
		border-color: #E01C46;
	}
	div.form .validation,
	div.form .success {
		display: none;
		font-size: 12px;
		margin-bottom: 20px;
	}
input,textarea {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	font-size: 13px;
	outline: none;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	outline: none;
}
input[type="text"],
input[type="email"] {
	border: 1px solid #ddd;
	padding: 9px;
	width: 100%;
	color: #555;
	background: #fff;
}
textarea {
	padding: 8px;
	border: 1px solid #ddd;
	color: #555;
	resize: vertical;
	background: #fff;
	outline: none;
}
select {
	width: 100%;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #eaeaea);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    color: #aaa;
    font-family: 'Lato';
    font-weight: normal;
    font-style: italic;
	font-size: 13px;
    padding: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
}
form p { position: relative; }
label { 
	position: absolute; 
	top: 5px !important; 
	left: 10px !important; 
	color: #aaa;
	font-family: 'Lato';
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
}
:-moz-placeholder {
	color: #333333 !important;
	font-weight: bold;
}
:-webkit-input-placeholder {
	color: #333333 !important;
}
img { border: none; }
.clear { clear: both; }
iframe {
	border: none;
}
div.form {
	overflow: hidden;
	padding-top: 30px;
}
div.form .row p:nth-child(2) {
	margin-right: 0 !important;
}
/*--------------------------------------------
13.	Typography
---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-family: 'Sanchez';
	color: #424242;
	font-size: 81px;
}
h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One';
}
h2 {
	color: #282828;
	font-size: 48px;	
}
h3 {
	font-size: 30px;
	color: #282828;
	text-align: center;
	margin-bottom: 30px;
}
h4 {
	color: #99c374;
	font-size: 26px;
	margin-bottom: 30px;
	text-align: center;
}
h5 {
	color: #2d2d2d;
	font-size: 20px;
}
h6 {	
	font-size: 18px;
}
section#pages p {
	color: #878787;
	line-height: 24px;
	font-size: 15px;
	font-family: 'Lato';
	font-weight: normal;
}
a {
	text-decoration: none;
	outline: none;
	-webkit-transition:color 0.2s ease-in;  
	-moz-transition:color 0.2s ease-in;  
	-o-transition:color 0.2s ease-in;  
	transition:color 0.2s ease-in;
	color: #0FB1CB;
}
a.directions { text-decoration: none; }
	a.directions .icon{
		padding-right: 3px;
		text-decoration: none;
	}
span.bold{
	font-family: 'Lato';
	font-weight: 600;
	color: #000;
}
/* Columns */
div.column_last { margin-right: 0 !important; }
div.full {
	overflow: hidden;
	margin-bottom: 25px;	
}
div.one_half, div.one_third, div.two_third, 
div.three_fourth, div.one_fourth, div.two_thirds {
	float: left;
	margin-right: 4%;
	margin-bottom: 25px;
}
div.one_half    { width: 46%; }
div.one_third   { width: 30.42%; }
div.two_thirds  { width: 65%; }
div.one_fourth  { width: 22%; }
div.full h1,div.full h2,div.full h3,
div.full h4,div.full h5,div.full h6 { 
	margin-bottom: 15px;
}
.elastislide-horizontal { padding-top: 0px; }
.elastislide-wrapper nav span {
	background: none;
	text-indent: 0;
	font-size: 35px;
	color: #6b4e86;
	margin-top: -25px;
}
#fancybox-close { right: -56px !important; }
/*--------------------------------------------
14.	Fonts
---------------------------------------------*/
@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon, .social_icons  {
	font-family: 'entypo';
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	speak: none;
}
/*--------------------------------------------
15.	Styles
---------------------------------------------*/
section#pages div#styles h3, h4 {
	text-align: left;
}
	
section#pages div#styles .heading {
	background: none;
}

section#pages div#styles .heading h2 {
	padding-top: 0;
	text-align: left;
}
.styles {
	padding: 8px;
}
/* Blockquotes */
blockquote, blockquote p { 
	font-size: 15px; 
	line-height: 24px; 
	color: #777; 
	font-style: italic; 
}
blockquote { 
	margin: 0 0 10px; 
	padding: 3px 20px 3px 19px; 
	border-left: 1px solid #ccc; 
}
	blockquote cite { 
		display: block; 
		font-size: 11px;
		color: #888; 
	}
		blockquote cite:before { 
			content: "\2014 \0020"; 
		}
		blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
		
/* Buttons */		
.button, form input.button { 
	float: right;
	padding: 5px 23px;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	border: 1px solid #77a152;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #99c373;
	cursor: pointer;
	-webkit-transition:background 0.2s ease-in;  
    -moz-transition:background 0.2s ease-in;  
    -o-transition:background 0.2s ease-in;  
    transition:background 0.2s ease-in;
}
	.button:hover {
		background: #664e86;
	}				
.button:active {
	-webkit-box-shadow: inset 0px 0px 3px #333;
	-moz-box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
}
.button:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px #bbb;
	-moz-box-shadow: 0px 0px 3px #bbb;
	box-shadow: 0px 0px 3px #bbb;
}
.button.white {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	border-color: #dedede #d8d8d8 #d3d3d3;
	color: #555;
	text-shadow: 0 1px 0 #fff;
}
.button.white a { color: #555 }
.button.gray {
  background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(top,  #cacaca 0%, #aeaeae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* IE10+ */
	background: linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */
  border-color: #b5b5b5 #a1a1a1 #8f8f8f;
  color: #555;
  text-shadow: 0 1px 0 #d4d4d4;
}
.button.gray a { color: #555 }
.button.pink {
  background: #f78297; /* Old browsers */
	background: -moz-linear-gradient(top,  #f78297 0%, #f56778 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f78297), color-stop(100%,#f56778)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f78297 0%,#f56778 100%); /* IE10+ */
	background: linear-gradient(top,  #f78297 0%,#f56778 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78297', endColorstr='#f56778',GradientType=0 ); /* IE6-9 */
  border-color: #df6f8b #da5f75 #d55061;
  color: #913944;
  text-shadow: 0 1px 0 #f89ca9;
}
.button.pink a { color: #913944 }
.button.orange {
  background: #f9bc70; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9bc70 0%, #d8b541 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bc70), color-stop(100%,#d8b541)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* IE10+ */
	background: linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bc70', endColorstr='#d8b541',GradientType=0 ); /* IE6-9 */
  border-color: #f5b74e #e5a73e #d6982f;
  color: #996633;
  text-shadow: 0 1px 0 #fedd9b;
}
.button.orange a { color: #996633 }
.button.green {
  background: #cae285; /* Old browsers */
	background: -moz-linear-gradient(top,  #cae285 0%, #9fcb57 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9fcb57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* IE10+ */
	background: linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#9fcb57',GradientType=0 ); /* IE6-9 */
  border-color: #adc671 #98b65b #87aa4a;
  color: #5d7731;
  text-shadow: 0 1px 0 #cfe5a4;
}
.button.green a { color: #5d7731 }
.button.blue {
	background: #a3bced; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3bced 0%, #ba8ecc 100%, #667cdd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3bced), color-stop(100%,#ba8ecc), color-stop(100%,#667cdd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* IE10+ */
	background: linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3bced', endColorstr='#667cdd',GradientType=0 ); /* IE6-9 */
	border-color: #8dc5da #76b7cf #63abc7;
	text-shadow: 0 1px 0 #b6e6f9;
}
.button.blue a { color: #42788e }
.button.purple {
	background: #d1badb; /* Old browsers */
	background: -moz-linear-gradient(top,  #d1badb 0%, #ba8ecc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1badb), color-stop(100%,#ba8ecc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* IE10+ */
	background: linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1badb', endColorstr='#ba8ecc',GradientType=0 ); /* IE6-9 */
	border-color: #bc9db9 #ad89aa #a1799d;
	color: #7b5777;
	text-shadow: 0 1px 0 #eacae6;
}
.button.purple a { color: #7b5777 }
.button.black {
	background: #616161; /* Old browsers */
	background: -moz-linear-gradient(top,  #616161 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #616161 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #616161 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #616161 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(top,  #616161 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border-color: #4c4c4c #313131 #1f1f1f;
	color: #fff;
	text-shadow: 0 1px 0 #2e2e2e;
}
.button.black a { color: #fff }
div.toggle_list {
	margin-bottom: 25px;
}
	div.toggle_list ul {
		list-style: none;
	}
		div.toggle_list ul li {
			margin-bottom: 10px;
		}
			div.toggle_list ul li div.title {
				background: #f0f0f0;
				border: 1px solid #ddd;
				padding: 10px;
				cursor: pointer;
				position: relative;
			}
				div.toggle_list ul li div.title h3 { margin: 0; color: #4b4b4b; font-size: 13px; }
				div.toggle_list ul li .title h3 span { color: #1c9eda; padding-right: 8px; font-weight: bold; }
				div.toggle_list ul li div.title a.toggle_link {
					position: absolute;
					top: 5px;
					right: 13px;
					color: #868686;
					font-weight: bold;
					font-size: 19px;
					text-decoration: none;
				}
			div.toggle_list ul li div.content {
				background: #fbfbfb;
				border: 1px solid #e5e5e5;
				border-top: none;		
				padding: 10px !important;
				display: none;
			}
				div.toggle_list ul li div.content p { margin-bottom: 15px; font-size: 12px; }
				div.toggle_list ul li div.content p:last-child { margin-bottom: 0; }
div.tabs { margin-bottom: 20px; }
	div.tabs ul.nav {
	  list-style: none;
	  overflow: hidden;
	  position: relative;
	  z-index: 2;
	}
		div.tabs ul.nav li {
		  float: left;
		  margin-right: 2px;
		}
		div.tabs ul.nav li a {
		  background: #F0F0F0;
		  border: 1px solid #ddd;
		  -webkit-border-radius: 3px;
		  -moz-border-radius: 3px;
		  border-radius: 3px;
		  color: #8F8F8F;
		  display: block;
		  font-size: 12px;
		  font-weight: bold;
		  padding: 8px 25px;
		  text-decoration: none;
		}
		div.tabs ul.nav li.current a {
		  background: #FBFBFB;
		  border: 1px solid #ddd;
		  border-bottom: none;
		  color: #424242;
		  padding-bottom: 9px;
		}
		div.tabs .pane {
		  background: #FBFBFB;
		  border: 1px solid #ddd;
		  margin-top: -1px;
		  padding: 15px;
		  position: relative;
		  z-index: 1;
			display: none;
		}
/*--------------------------------------------
16. Theme Colors
---------------------------------------------*/
section#pages .heading .section_icon { background: #6b4e86; }
section#intro .date span { background: #6b4e86; }
div#logo_wrap .circle_1 {	background: #6b4e86; }
div#party ul.people li.current span { border-color: #6b4e86; color: #6b4e86; }
div#travel .hotels address a { color: #6b4e86; }
div#travel .airports ul#airport_slider address a { color: #6b4e86; }
#saveForm { background: #6b4e86; }
.elastislide-wrapper nav span { color: #6b4e86; }